input_data/JobsAcUk.zip
input_data/JobsAcUk/
input_data/JobsAcUk.csv
input_data/JobsAcUk.csv.gz
input_data/jobs2csv.pl
input_data/knownjobs.txt
input_data/skippedjobs.txt
input_data/*_orig*
input_data/copy.sh
.Rproj.user
output_data/data/
output_data/metadata/
.DS_Store
.RData
.Rhistory
